
 <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        
      <a class="navbar-brand">My Bank</a>
      <form class="d-flex input-group w-auto">
        <input
          type="search"
          type="search"
          class="form-control rounded"
          placeholder="Search"
          aria-label="Search"
        />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </form>
    </div>
  </nav>
 <div class="wrapper text-center shadow-lg p-3 mb-5 bg-body rounded bg-light">
    <div class="logo rounded-circle">
        <img src="../../assets/image/bnk.jpg" alt="">
    </div>
    <div class="text-center mt-4 fs-2 fw-bold name "> 
        My Bank
    </div>
    <h6>{{aim}}</h6>
    <form [formGroup]="loginForm" class="text-center p-3 mt-3 rounded-4 ">
        <div class="form-field d-flex align-content-center m-3 shadow-lg rounded">
            <input style="margin-left: auto; margin-right: auto;" formControlName="acno" type="text" name="acno" id="login_acno" [placeholder]="accounts">
            <!-- (change)="acnoChange($event)" -->
        </div>
        <div *ngIf="this.loginForm.get('acno')?.touched&&this.loginForm.get('acno')?.errors" style="color:red;">Invalid User</div>

        <div class="form-field d-flex align-items-center m-3 shadow-lg rounded">
            <input style="margin-left: auto; margin-right: auto;" formControlName="pswd" type="password" name="password" id="login_pswd" placeholder="Password">
            <!-- (change)="pswdChange($event)"  -->
        </div>
        <div *ngIf="this.loginForm.get('pswd')?.touched&&this.loginForm.get('pswd')?.errors" style="color:red;">Invalid User</div>
        <button class="btn btn-primary mt-3 shadow-lg rounded" (click)="login()" type="button">Login</button>
    </form>
    <div class="text-center m-3">
        <a href="#">Forgot Password?</a> or <a routerLink="registration">Sign up</a>
    </div>
</div>
