input{
  border: none;
  border-radius: 8px;
  width: 60rem;
  margin-left: auto; 
  margin-right: auto;
  padding: 6px;
}

.wrapper {
  background-color: #FFD369;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 30px;

}
.child{
  display:inline-block;
  padding:100px;
  margin-top: -150px;
  margin-left: 70px;
}

.logo{
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
}
input{
  border: none;
  border-radius: 8px;
  width: 60rem;
  margin-left: auto; 
  margin-right: auto;
  padding: 6px;
}

.wrapper {
  background-color: #d1c6ad;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 30px;

}

.logo{
  width: 80px;
  margin-left: auto;
  margin-right: auto;
}
img {
  width: 100%;
}

   @import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
 
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
